body{
    background-color: rgba(12, 12, 12, 0.822);
}
.navbar{
    background-color: rgba(0, 0, 0);
    color: white;
}
.intro{
    background-color: rgba(0, 0, 0);
    width: 100%;
    height: auto;
}

.rounded{
    width: 70%;
    margin-left: 50px;
    margin-bottom: 20px;
}

.intro-contant{
    margin-top: 40px;
    color: white;
}

.intro-contant span{
    color: rgb(252, 99, 44);
}

.intro-contant .btn{
    background-color: rgb(252, 99, 44);
    color: white;
}

.nav-link:hover{
    color: rgb(252, 99, 44);

}

.btn-orange{
    background-color: rgb(252, 99, 44);
}

.aboutSection {
    width: 100%;
    height: auto;
    background-color: white;
}

.bar{
    width: 100%;
    height: 10px ;
    border-radius: 15px;
    background-color:#dddd; 
    position: relative;
    overflow: hidden;
}

.bar span{
    position: absolute;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(55, 55, 236);
}

.skill{
    margin-right: 50px;
}

.bar .html{
    width: 95%;
}

.bar .php{
    width: 80%;

}
.bar .mysql{
    width: 75%;
}