.navbar {
    background-color: rgba(20, 20, 19, 0.473);
}

.nav-con{
    justify-content: space-between;
}

.intro{
    background-color: #333333;
    width: 100%;
    height: 400px;
}

.rounded{
    width: 200px;
    height: 200px;
}