body{
    background-color: rgba(12, 12, 12, 0.822);
}
.navbar{
    background-color: rgba(0, 0, 0);
    color: white;
}
.intro{
    background-color: rgba(0, 0, 0);
    width: 100%;
    height: auto;
}

.rounded{
    width: 60%;
    margin-left: 150px;
}

.intro-contant{
    margin-top: 40px;
    color: white;
}

.intro-contant span{
    color: rgb(252, 99, 44);
}

.intro-contant .btn{
    background-color: rgb(252, 99, 44);
    color: white;
}