
.navbar{
    background-color: rgba(0, 0, 0);
    color: white;
}

span{
    color: gold;
}

.contant{
    margin-top: 30px;
    text-align: center;
}

.carbtn{
    border: none;
    border-radius: 15px;
    width: 20%;
    padding: 5px;
    background-color: rgb(23, 211, 23);
    color: white;

}

.carbtn:active{
    box-shadow: 1px 1px 1px 1px rgb(196, 193, 193);
    background-color: rgb(1, 165, 1);

}

.intro{
    height: 650px;
}

.aboutcontainer{
    margin-top: 120px;
    margin-bottom: 20px;
}

.carimg{
    width: 100%;
    height: 200px;
    margin-right: 50px;
}

.cardimg{
    width: 50%;
}

.card:hover{
    box-shadow: 1px 1px 1px 1px lightgray;
}